body {
  margin: 0;
  padding: 0;

  height: 100vh;
  background: linear-gradient(#10416b, black);
  line-height: 0.5;
}
.calculator {
  width: 500px;
  padding: 100px 0px;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);

  text-align: center;
}
#display {
  border: none;
  background: white;
  border-radius: 30px;
  width: 245;
  font-size: 30;
  text-align: center;
  font-family: sans-serif;
  font-weight: 500;
  height: 35px;
  margin: auto;
  border: 2px solid white;
  color: black;
}
.btndesign {
  width: 35px;
  height: 35px;
  padding-top: -1;
  border: none;
  font-family: sans-serif;
  font-size: 20;
  font-weight: 300;
  border-radius: 30px;
  margin: 1.5;
  transition: 0.25px;
  cursor: pointer;
}
.OperatorDesign {
  width: 35px;
  height: 35px;
  padding-top: -1;
  border: none;
  font-family: sans-serif;
  font-size: 20;
  font-weight: 300;
  border-radius: 30px;
  margin: 1.5;
  transition: 0.25px;
  cursor: pointer;
}

#zero {
  width: 70px;
  height: 35px;
  padding-top: -1;
  border: none;
  font-family: sans-serif;
  font-size: 20;
  font-weight: 300;
  border-radius: 30px;
  margin: 1.5;
  transition: 0.25px;
  cursor: pointer;
}
.OperatorDesign:hover {
  background: #00d9ff;
}
h1 {
  color: white;
  margin-top: 250px;
  margin-left: 100px;
  font-family: cursive;
  font-weight: 700px;
  font-size: 70;
  text-decoration: underline;
  position: relative;
}
h2 {
  color: white;
  margin-top: 255;
  margin-left: 200px;
  font-family: cursive;
  font-weight: 700px;
  font-size: 70;
  position: relative;
}
